{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>PAgeONe</h1>
    
{% endblock %}

{% block stylesheets %}
<style>
    h1{
       color: red; 
        
    }
</style>
{% endblock %}
{% block section %} <section>
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    <h1> Les entreprise et sponsors </h1>
                    <p>Realiser et presenté par l'entreprise dareboost</p>
                    <p>conference sur la performence et la securité</p>
                    </div>
                    <div class="col-lg-6">
                        
                    </div>




                </div>


            </section> {% endblock %}
